*{
    margin: 0;
    padding: 0;
}
.background-image {
    background-image: url("./images/hi.jpg");
    background-size: cover;
    margin-top: -2%;
    width: 100vw;
    height: 104%;
}
h1 {
    color:darkslateblue;
    font-size: 600%;
    font-weight: 700;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left: 40px;
    padding-top: 40px;
}
.mainbtn {
    color:black;
    display:flex;
    margin-left: 12%;
    font-size: 450%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:green;
    transition: 400ms;
    padding: 10px;
    border-radius: 15%;
    margin-top: 40%;
}
.mainbtn:hover {
    background-color:limegreen;
    cursor: pointer;
}
.otherbtn{
    color:black;
    display:block;
    margin-top: -107px;
    margin-left: 45%;
    font-size: 450%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:green;
    transition: 400ms;
    padding: 10px;
    border-radius: 15%;
}

.lastbtn{
    color:black;
    display:block;
    margin-top: -107px;
    margin-left: 75%;
    font-size: 450%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:green;
    transition: 400ms;
    padding: 10px;
    border-radius: 15%;
}

.otherbtn:hover {
    background-color:limegreen;
    cursor: pointer;
}

.lastbtn:hover {
    background-color:limegreen;
    cursor: pointer;
}

#backBtn{
    color:black;
    display:block;
    margin-top: 2%;
    margin-left: 1%;
    font-size: 250%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:green;
    transition: 400ms;
    padding: 10px;
    border-radius: 15%;
}

#backBtn:hover {
    background-color:limegreen;
    cursor: pointer;
}

#guessBtn{
    color:black;
    display:block;
    margin-top: 3%;
    margin-left: 75%;
    font-size: 250%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:green;
    transition: 400ms;
    padding: 10px;
    border-radius: 15%;
}

#guessBtn:hover {
    background-color:limegreen;
    cursor: pointer;
}


#nextBtn{
    color:black;
    display:block;
    margin-top: 3%;
    margin-left: 75%;
    font-size: 250%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:green;
    transition: 400ms;
    padding: 10px;
    border-radius: 15%;
}

#nextBtn:hover {
    background-color:limegreen;
    cursor: pointer;
}

#nextBtn:disabled {
    background-color:rgb(90, 138, 90);
    cursor: pointer;
}

#map{
    height: 55%;
    width: 35%;
    margin-left: 60%;
    margin-top: -25%;
}

#map:hover{
    cursor: pointer;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color:rgb(60, 179, 113);
}


#index {
    background-color:rgb(22, 117, 49);
}

#image{
    width: 30%;
    height: 40%;
    margin-top: 3%;
    margin-left: 10%;
    border-radius: 5%;
}

#round{
    font-size: 300%;
    font-weight: bold;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: -13%;
    margin-left: 11%;
}

#result{
    font-size: 200%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 11%;
    word-wrap: break-word;
    width: 35%;
}

#points{
    font-size: 150%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 11%;
    margin-bottom: 15%;
}

#error{
    font-size: 150%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#over{
    font-size: 800%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color:black;
}

#congrats{
    font-size: 200%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color:black;
}

#over{
    visibility: hidden;
    margin-top: -50%;
}

#congrats{
    visibility: hidden;
}

#stars{
    visibility: hidden;
    margin-left: 30%;
}

#againBtn{
    visibility: hidden;
    color:black;
    display:block;
    margin-top: 3%;
    margin-left: 45%;
    font-size: 250%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:green;
    transition: 400ms;
    padding: 10px;
    border-radius: 15%;
}

#againBtn:hover{
    background-color:limegreen;
    cursor: pointer;
}

#about{
    margin-left: 4%;
    margin-right: 15%;
    margin-top: auto;
    font-size:x-large;
}

#creds{
    margin-left: 4%;
    margin-right: 15%;
    margin-top: 1%;
    font-size:x-large;
}

#submit{
    margin-left: 4%;
    margin-right: 15%;
    margin-top: 1%;
    font-size:x-large;
}

#vv{
    width: 20%;
    margin-left: 30%;
    margin-top: 1%;
}

#vid{
    margin-left: 20%;
    margin-top: 2%;
}